

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Banner CSS */
.textlogo{
   width: 30%;
   padding-top: 10px;
}
#wheretogo{
  padding-top: 4%;
}
